<header class="header">
  <div class="header-container container">
    <svg class="header-logo" width="16" height="16">
      <use href="./img/icons.svg#icon-logo"></use>
    </svg>
    <a href="./index.html" class="heder-logo-link">veggieboost</a>
    <button class="header-burger-btn">
      <svg class="header-burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<dialog id="header-modal" class="header-burger-modal">
  <div class="header-modal-container">
    <nav class="header-modal-nav"></nav>
    <ul class="header-modal-nav-list">
      <li class="header-modal-nav-list-item">
        <a href="" class="header-modal-nav-list-link">How It Works</a>
      </li>
      <li class="header-modal-nav-list-item">
        <a href="" class="header-modal-nav-list-link">Vegetables</a>
      </li>
      <li class="header-modal-nav-list-item">
        <a href="" class="header-modal-nav-list-link">Contacts</a>
      </li>
      <li class="header-modal-nav-list-item">
        <a href="" class="header-modal-nav-list-link">
          <svg class="header-modal-cart" width="20" height="20">
            <use href="./img/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</dialog>
