<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="" class="header-nav-link">How It Works</a>
        </li>
        <li>
          <a href="" class="header-nav-link">Vegetables</a>
        </li>
        <li>
          <a href="" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-logo-wrapper">
      <svg width="16" height="16" class="header-logo">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <a href="./index.html" class="header-logo-link">veggieboost</a>
    </div>
    <button class="header-cart-btn">
      <svg class="header-icon-cart" width="20" height="20">
        <use href="./img/icons.svg#icon-cart"></use>
      </svg>
    </button>
    <button class="header-burger-btn">
      <svg class="js-header-burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <svg class="js-header-icon-close" width="24" height="24">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </div>
</header>
<dialog id="js-header-modal" class="header-burger-modal">
  <div class="header-modal-container">
    <ul class="header-modal-nav-list">
      <li>
        <a href="" class="header-modal-nav-list-link">How It Works</a>
      </li>
      <li>
        <a href="" class="header-modal-nav-list-link">Vegetables</a>
      </li>
      <li>
        <a href="" class="header-modal-nav-list-link">Contacts</a>
      </li>
      <li>
        <svg class="header-modal-icon-cart" width="20" height="20">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </li>
    </ul>
  </div>
</dialog>
