<section class="hero-section">
  <div class="hero-container container">
    <ul class="hero-reviews-list">
      <li class="hero-reviews-item">
        <picture>
          <source
            media="(width >= 1280px)"
            srcset="./img/desktop/hero/review-1.avif 1x, ./img/desktop/hero/review-1@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width >= 768px)"
            srcset="./img/tablet/hero/review-1.avif 1x, ./img/tablet/hero/review-1@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width < 767px)"
            srcset="./img/mobile/hero/review-1.avif 1x, ./img/mobile/hero/review-1@2x.avif 2x"
            type="image/avif"
          />
          <img src="./img/mobile/hero/review-1.avif" alt="Reviewer" />
        </picture>
      </li>
      <li class="hero-reviews-item">
        <picture>
          <source
            media="(width >= 1280px)"
            srcset="./img/desktop/hero/review-2.avif 1x, ./img/desktop/hero/review-2@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width >= 768px)"
            srcset="./img/tablet/hero/review-2.avif 1x, ./img/tablet/hero/review-2@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width < 767px)"
            srcset="./img/mobile/hero/review-2.avif 1x, ./img/mobile/hero/review-2@2x.avif 2x"
            type="image/avif"
          />
          <img src="./img/mobile/hero/review-2.avif" alt="Reviewer" />
        </picture>
      </li>
      <li class="hero-reviews-item">
        <picture>
          <source
            media="(width >= 1280px)"
            srcset="./img/desktop/hero/review-3.avif 1x, ./img/desktop/hero/review-3@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width >= 768px)"
            srcset="./img/tablet/hero/review-3.avif 1x, ./img/tablet/hero/review-3@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width < 767px)"
            srcset="./img/mobile/hero/review-3.avif 1x, ./img/mobile/hero/review-3@2x.avif 2x"
            type="image/avif"
          />
          <img src="./img/mobile/hero/review-3.avif" alt="Reviewer" />
        </picture>
      </li>
      <li class="hero-reviews-item">
        <p>2K</p>
        <p>reviews</p>
      </li>
    </ul>
    <h1 class="hero-title">organic <i>vegetables</i> to your diet today!</h1>
    <p class="hero-desc">
      Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables
      available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly
      curated vegetable baskets delivered to you.
    </p>
    <button type="button" class="hero-shop-btn">shop<br />now</button>
    <picture>
      <source
        media="(width >= 1280px)"
        srcset="./img/desktop/hero/hero-girl.avif 1x, ./img/desktop/hero/hero-girl@2x.avif 2x"
        type="image/avif"
      />
      <source
        media="(width >= 768px)"
        srcset="./img/tablet/hero/hero-girl.avif 1x, ./img/tablet/hero/hero-girl@2x.avif 2x"
        type="image/avif"
      />
      <source
        media="(width < 767px)"
        srcset="./img/mobile/hero/hero-girl.avif 1x, ./img/mobile/hero/hero-girl@2x.avif 2x"
        type="image/avif"
      />
      <img src="./img/mobile/hero/hero-girl.avif" alt="Reviewer" class="hero-main-picture" />
    </picture>
    <ul class="hero-tags">
      <li class="hero-tag">#organic</li>
      <li class="hero-tag">#products</li>
      <li class="hero-tag">#basket</li>
      <li class="hero-tag">#vegetables</li>
    </ul>
  </div>
</section>
