<section class="order-section">
  <div class="order-container container">
    <div class="order-wrapper">
      <h2 class="order-title">To order your vegetable basket, simply follow these easy steps</h2>
      <picture class="order-picture">
        <source
          media="(width >= 1280px)"
          srcset="./img/desktop/order/vegetables.avif 1x, ./img/desktop/order/vegetables@2x.avif 2x"
          type="image/avif"
        />
        <source
          media="(width >= 768px)"
          srcset="./img/tablet/order/vegetables.avif 1x, ./img/tablet/order/vegetables@2x.avif 2x"
          type="image/avif"
        />
        <source
          media="(width < 767px)"
          srcset="./img/mobile/order/vegetables.avif 1x, ./img/mobile/order/vegetables@2x.avif 2x"
          type="image/avif"
        />
        <img
          class="order-veg-img"
          src="./img/mobile/order/vegetables.avif"
          alt="Vegetables"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="order-text-wrapper">
      <p class="order-desc">
        Our baskets are assembled with care and delivered straight to your doorstep, so you can
        enjoy the taste of fresh fruit without ever leaving your home.
      </p>
      <p class="order-desc">
        Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the
        perfect choice.
      </p>
    </div>
  </div>
</section>
