<section class="steps-section">
  <div class="container">
    <div class="steps-container">
      <div class="step-info">
        <h3 class="step-title">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ul class="steps-list">
          <li class="steps-item">
            Just choose the vegetable you want to order by clicking on the checkboxes next to it.
          </li>
          <li class="steps-item">Click on the basket and fill out the form.</li>
          <li class="steps-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ul>
      </div>
      <div class="step-block">
        <picture class="order-picture">
          <source
            media="(width >= 1280px)"
            srcset="
              ./img/desktop/order/order-girl.avif    1x,
              ./img/desktop/order/order-girl@2x.avif 2x
            "
            type="image/avif"
          />
          <source
            media="(width >= 768px)"
            srcset="./img/tablet/order/order-girl.avif 1x, ./img/tablet/order/order-girl@2x.avif 2x"
            type="image/avif"
          />
          <source
            media="(width < 767px)"
            srcset="./img/mobile/order/order-girl.avif 1x, ./img/mobile/order/order-girl@2x.avif 2x"
            type="image/avif"
          />
          <img
            class="step-img"
            src="./img/mobile/order/order-girl.avif"
            alt="Girl"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="step-block"></div>
    <div class="step-block"></div>
  </div>
</section>
