.header-container {
  padding-block: 15px;
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}

.header-nav-link {
  transition: color var(--transition-timings);
}

.header-nav-link:is(:hover, :focus) {
  color: var(--primary-brand-color);
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header-logo {
  fill: var(--secondary-brand-color);
}

.header-logo-link {
  font-weight: 700;
  text-transform: uppercase;
}

.header-cart-btn {
  display: none;
}

.header-burger-btn {
  display: flex;
  margin-left: auto;
}

.header-burger-modal {
  min-width: 100%;
}

.header-modal-container {
  min-width: 100dvw;
  height: calc(100dvh - 50px);
  position: fixed;
  top: 50px;
  background-color: var(--primary-brand-color);
}

.header-modal-nav-list {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.header-modal-nav-list-link {
  color: var(--primary-color);
}

.header-modal-icon-cart {
  fill: none;
  stroke: var(--primary-color);
}

@media only screen and (width >= 768px) {
  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    margin-right: 86px;
    column-gap: 14px;
  }

  .header-burger-btn {
    display: none;
  }

  .header-cart-btn {
    fill: none;
    stroke: var(--secondary-text-color);
    display: block;
    margin-left: auto;
  }
}

@media only screen and (width >= 1280px) {
  .header-nav-list {
    margin-right: 0;
    column-gap: 20px;
  }

  .header-logo-wrapper {
    margin-inline: auto;
  }

  .header-icon-cart {
    width: 24px;
    height: 24px;
  }
}
